body{
  text-align: center;
}
h1{
    color: blueviolet;
    font-size: 2.5em;
}
p, input, button {
    font-size: large;
}

@keyframes wiggle {
    0% { transform: translateX(0); }
    25% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
  h2 {
    animation: wiggle 0.5s ease-in-out infinite;
    color: blue;
  }
  